.error {
    color: red;
}
.input{
    margin-left: 2%;
}

.text{
    font-size: 20px;
    font-family: "Georgia",serif;
}

.block{
    padding-top: 15%;
}

.password{
    margin-bottom: 10px;
}

.login{
    margin-bottom: 10px;
    margin-left: 0.5%;
}

.repeat_pass{
    margin-bottom: 10px;
    margin-right: 4%;
}

.button{
    width: 16%;
    height: 35px;
    font-size: 20px;
    font-family: "Georgia",serif;
    justify-content: center;
}
